* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.white {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black {
    height: 50vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
}
.logo__white {
    background-color: #fff;
}
.logo__white path {
    fill: #000;
}
.logo__black {
    background-color: #000;
}
.logo__black path {
    fill: #fff;
}